$welcomePageHeaderColor : #7F7A63;
$welcomePageTextColor : #7F7A63;
$welcomePageButtomColor : #7F7A63;
$welcomePageButtomBorderColor : #7F7A63;
$bgRectangleColor : linear-gradient(90deg, #433E26 0.29%, rgba(127, 122, 99, 0.70) 45.94%, rgba(155, 151, 130, 0.50) 74.4%, rgba(240, 237, 221, 0.50) 99.65%);


$homePageHeaderColor : #BEBAA5;
$homePageTextColor : #BEBAA5;

$homePageHeaderSectionColor : #433E26;
$homePageParaSectionColor : #433E26;





