*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gugi';
    font-weight: 400;
}

// body::-webkit-scrollbar {
//     display: none;
// }

// aside::-webkit-scrollbar {
//     display: none;
// }

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #F0EDDD;
    background: #7F7A63;
  }